.btn.cloudinary-button{
    background-color:#2f4f4f;
    color: #fff8e1;
    text-align: center;
}

nav{
    background-color: #1d3030;
}

.error-background{
    background: url("../image/403status.jpg") no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
}

span.stars span {
    display: block;
    background: url("../image/star-yellow.png") 0 0 repeat-x;
    width: 120px;
    height: 2rem;
    float: left;
}

span.stars {
    display: block;
    background: url("../image/star-grey.png") 0 0px repeat-x;
    width: 120px;
    height: 2rem;
    float: right;
}

span.stars span {
    background-position: 0 0;
}

.trail-details-container{
    border: 1px solid #757575 ;
}