body{
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
}

.box-map {
 position: relative;
 padding-bottom: 100%;
}

.box-map iframe {
    width: 100%;
}

.btn.cloudinary-button{
    background-color:#2f4f4f;
    color: #fff8e1;
    text-align: center;
}

.card-title{
    display: flow-root;
    font-family: 'Ruluko', sans-serif;
}

.comments-body{
overflow: hidden;
position: relative;
line-height: 1.5em; /*height of a single line in body*/
max-height: 7.5em; /*max height = 5 lines, 1.5*5 = 7.5em*/ 
padding-right: 1em; /*set this area for ...*/
font-style: italic;
}

.comments-body:before{
    content: "...";     /*add the '...' behind if body too long*/
    position: absolute;
    right: 0;           /*position the '...'*/
    bottom: 0;
    
}

.comments-body:after{
    content: "";        /*hide the'...' if body is less than max-heigh*/
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    background: white;
}

.com-date{
    margin-top: 10px;
}

.com-ratings{
    margin-top: 10px;
    margin-left: -5px;
}

.dir-desc{
overflow: hidden;
position: relative;
line-height: 1.5em; /*height of a single line in body*/
max-height: 3em; /*max height = 2 lines, 1.5*2 = 3em*/ 
padding-right: 1em; /*set this area for ...*/
}

.dir-desc:before{
    content: "...";     /*add the '...' behind if body too long*/
    position: absolute;
    right: 0;           /*position the '...'*/
    bottom: 0;
    
}

.dir-desc:after{
    content: "";        /*hide the'...' if body is less than max-heigh*/
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    background: white;
}

.dir-title{
    font-weight: 800;
}

.error-background{
    background: url("../image/403status.jpg") no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.filter-blanched{
    filter: invert(86%) sepia(3%) saturate(3689%) hue-rotate(330deg) brightness(111%) contrast(101%);
  }

h1 {
    font-family: 'Ruluko', sans-serif;
    text-shadow: 2px 2px #000000;
}

h2, h3, h4, h5, h6{
    font-family: 'Ruluko', sans-serif;
    color: #000000;
}

nav .brand-logo{
    padding-left: 1em;
    padding-top: 0.2em;
    font-size: 1.2rem;
    color: #fffbcd;
}

nav{
    background-color: #1d3030;
}

[type="radio"]:not(:checked)+span.radio-star:before, 
[type="radio"]:not(:checked)+span.radio-star:after,
[type="radio"]:checked+span.radio-star:before,
[type="radio"]:checked+span.radio-star:after {
    content: '★';
    font-size: 2rem;
    border: none;
}

[type="radio"]:checked+span.radio-star:after
{
    border: none;
    color: none;
    background: none;
    background-color: none;
}

[type="radio"]:checked+span.radio-star.hover{
    color: 'gold';
}

.rating{
    float:left;
}
.rating > label{
    float:right;
}

span.stars span {
    display: block;
    background: url("../image/star-yellow.png") 0 0 repeat-x;
    width: 120px;
    height: 2rem;
    float: left;
}

span.stars {
    display: block;
    background: url("../image/star-grey.png") 0 0px repeat-x;
    width: 120px;
    height: 2rem;
    float: right;
}

span.stars span {
    background-position: 0 0;
}

.sightings{
    margin-top: 10px;
}

.star-form{
    display: inline-block;
}

.trail-details-container{
    border: 1px solid #757575 ;
}

textarea{
    height: 6rem;
}

@media(max-width: 768px) {
.dir-img{
    display: none;
}
}
