<!DOCTYPE html>
  <html lang="en">
    <head>
    <!--Let browser know website is optimized for mobile-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ruluko&display=swap" rel="stylesheet">   <!--Headings-->
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">  <!--Body-->

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="amber lighten-5">
    
    <nav>
    <div class="nav-wrapper">
      <a href="{{url_for('index')}}" class="brand-logo"><img class="filter-blanched" src="{{ url_for('static', filename='image/hiker.svg') }}"/></a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('show_all')}}">Directory</a></li>
        <li><a href="{{url_for('show_by_rating')}}">Top Rated</a></li>
        {% if auth_user != None %}
        <li><a class="dropdown-trigger" href="#" data-target="dropdown1">
            <i class="material-icons right">person</i></a></li>
        {% else %}
        <li><a href="{{url_for('create_profile')}}">Register</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{url_for('show_profile')}}">Manage Profile</a></li>
    <li><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>

  <ul class="sidenav" id="mobile-nav">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('show_all')}}">Directory</a></li>
    <li><a href="{{url_for('show_by_rating')}}">Top Rated</a></li>
    {% if auth_user != None %}
    <li><a class="dropdown-trigger" href="#" data-target="dropdown2">My Profile<i class="material-icons">arrow_drop_down</i></a></li>
    {% else %}
    <li><a href="{{url_for('create_profile')}}">Register</a></li>
     <li><a href="{{url_for('login')}}">Login</a></li>
    {% endif %}
  </ul>

  <!-- Dropdown Structure -->
        <ul id="dropdown2" class="dropdown-content">
        <li><a href="{{url_for('show_profile')}}">Manage Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
        
    {% block content %}
    {% endblock %}

    <!-- Just include jQuery first just in case it is needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}
    {% endblock %}
    </body>
  </html>