{% extends "base.template.html" %}

{% block title %}
Home Page
{% endblock %}

{%block content%}

<div class="parallax-container">
	<div class="parallax">
		<img src="{{url_for('static', filename='image/parallax.jpg')}}">
    </div>
    <div class="overlay">
    <h1>Share your adventure...</h1>
    <a class="waves-effect waves-light btn teal darken-4" href="{{url_for('create_profile')}}">Enter</a>
    </div>
</div>

<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
	{% for category,message in messages %}
    <div class="z-depth-3 {{category}} flash">
	<span>
    <i class="material-icons">info_outline</i>
    {{ message }}
    </span>	
</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>

<div class="container">
        <h5>Browse the Latest Community Comments</h5>
	<div class="row">
		{% for com in comments%}
		<div class="col s12 m4">
			<div class="card small horizontal">
				<div class="card-stacked">
					<div class="card-content">
						
							<div class="image col s5">
								<img class="circle responsive-img" src="{{com.photo}}">
                            </div>
						
						<div class="col s7">
							<span class="card-title">{{com.author}}</span>
								<p class="comments-body">{{com.body}}</p>
						</div>
					</div>
						<div class="card-action">
							<a href="{{url_for('get_trail', trail_id = com._id)}}">{{com.trail_name}}</a>
							<footer> {{com.date}}</footer>
						</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="container">
    <div class="row">
		<h5>Browse Trails by Country</h5>
			<div class="col s12 m3">
				<ul class="collapsible">
				{% for loc in location |groupby ("country")%}
					<li>
						<div class="collapsible-header">
                        <i class="material-icons">public</i>
                        {{loc.grouper}}
                        </div>
							<div class="collapsible-body">
								<span>
			                        <ul>
				                    {% for places in loc.list|groupby ("town") %}
				                        <li>
					                        <span class="material-icons">place</span>
								            {{places.grouper}}
								            <ul>
									        {% for trails in places.list %}
									            <li><a class="teal-text text-darken-4" href="{{url_for('get_trail', trail_id = trails.trail_id)}}"><i class="material-icons">arrow_right</i>{{trails.trail_name}}</a></li>
									        {% endfor %}
								            </ul>
						                </li>
						            {% endfor %}
					                </ul>
					            </span>
				            </div>
				    </li>
				{% endfor %}
				</ul>
		    </div>
	</div>
</div>
	{% endblock %}
