{% extends "base.template.html" %}

{% block content %}
<div class="container">
  <h4>Create Profile</h4>
    
  <div class="row">
      <form class="col s12" action = "{{url_for('create_profile')}}" method="POST">
      
        <div class="row">
          {{form.csrf_token}}
          <div class="input-field col s12 m6">
            {{form.fname(size=30)}}
            {{form.fname.label}}
          </div>
          <div class="input-field col s12 m6">
            {{form.lname(size=20)}}
            {{form.lname.label}}
          </div>
        </div>

        <div class="row">
        <div class="input-field col s12 m6">
            {{form.username}}
            {{form.username.label}}
          </div>
          <div class="input-field col s12 m6">
            {{form.origin(size=30)}}
            {{form.origin.label}}
          </div>
        </div>
        
        <div class="row">
        <div class="input-field col s12 m6">
            {{form.email}}
            {{form.email.label}}
        </div>
          <div class="pre-label col s12 m6">
            No of trails completed:
            <div class="input-field inline">
              {{form.trails_completed}}
              {{form.trails_completed.label}}
              <span class="helper-text" data-error="invalid" data-success="valid">No. of trails completed in lifetime</span>
            </div>
          </div>
          </div>
        
        <div class="row">
          <div class="pre-label col s12 m6">
            Upload profile image:
            <div class="file-field input-field">
              <div class="file-path-wrapper">
                <p class="file-path"></p>
              </div>
               <div class="btn">
                <span>Upload File</span>
                {{form.profile_pic}}
              </div>
            </div>
        </div>
        </div>
        
        <a class="waves-effect waves-light btn blue-grey lighten-1">{{form.submit()}}</a>
      </form>
    </div>
 
</div>

{% endblock %}

{% block js %}

{% endblock %}