{% extends "base.template.html" %} 

{%block title%}All Trails Directory{%endblock%}

{% block content %}

<div class="container">
    <h3>Trails</h3>
<form methods="GET">
	<div class="row">
		<div class="input-field col s8 m4">
			<input id="search" type="search" name="query">
			<label for="search"><i class="material-icons">search</i></label>
		</div>
		<div class="input-field col s4 m4">
			<button class="btn waves-effect waves-light" type="submit">Search</button>
		</div>
	</div>
</form>


<div class="row">
	{% for trail in all_trails %}
	<div class="col s12 m10">
		<div class="card horizontal">
			<div class="col s4 card-image dir-img">
				<img src="{{trail.image}}" alt="" class="responsive-img"/>
	        </div>
				<div class="card-stacked">
					<div class="card-action">
						<a href="trails/{{trail._id}}" class="green-text text-darken-2">{{trail.trail_name}}</a>
					</div>
					<div class="card-content">
						<p>
							Location: {{trail.location.province.town.town}},{{trail.location.province.state}},
							{{trail.location.country}},
						</p>
						<p>Route Type: {{trail.route_type}}</p>
						<p>Trail Difficulty: {{trail.difficulty}}</p>
						<p>Trail Description: {{trail.description}}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
</div>


</div>

{% endblock %}