{% extends "base.template.html" %} 

{%block title%}All Trails Directory{%endblock%}

{% block content %}

<div class="container">
    <h3>Trails</h3>
<form methods="GET">
	<div class="row">
		<div class="input-field col s8 m3">
			<input type="search" name="query">
			<label for="search"><i class="material-icons">search</i></label>
		</div>

        <div class="input-field col s12 m3">
        <select name="route-type" multiple>
        <option value="out and back">Out and Back</option>
        <option value="point to point">Point To Point</option>
        <option value="loop">Loop</option>
        </select>
        <label>Route Type</label>
        </div>

        <div class="input-field col s12 m3">
        <select name="difficulty" multiple>
        <option value="easy">Easy</option>
        <option value="moderate">Moderate</option>
        <option value="difficult">Difficult</option>
        </select>
        <label>Difficulty</label>
        </div>

		<div class="input-field col s4 m2">
			<button id="search" class="btn waves-effect waves-light teal darken-4" type="submit">Search</button>
		</div>
	</div>
</form>


<div class="row">
	{% for trail in all_trails %}
	<div class="col s12">
		<div class="card horizontal">
			<div class="col s4 card-image valign-wrapper">
				<img src="{{trail.image}}" alt="" class="responsive-img"/>
	        </div>
				<div class="card-stacked">
					<div class="card-content">
                    <h6 class="dir-title">
						<a href="trails/{{trail._id}}" class="green-text text-darken-2">{{trail.trail_name}}</a>
                    </h6>
						<p>
							{{trail.location.province.town.town}},{{trail.location.province.state}},
							{{trail.location.country}},
						</p>
						<span class="left-align">{{trail.route_type}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{trail.difficulty}}</span>
                        <p> {{trail.distance}}km</p>
						<p class="dir-desc">Trail Description: {{trail.description}}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
</div>


</div>

{% endblock %}

{% block js%}
<script>

</script>
{% endblock %}