{% extends "base.template.html" %}

{% block content %}
<div class="container">
  <h4>Update Profile For: {{profile.username}}</h4>
    
  <div class="row">
      <form class="col s12" action = "{{url_for('edit_profile', hiker_id=profileId)}}" method="POST">
        <div class="row">
          {{form.csrf_token}}
          <div class="input-field col s12 m6">
            {{form.fname(size=30)}}
            {{form.fname.label}}
          </div>
          <div class="input-field col s12 m6">
            {{form.lname(size=20)}}
            {{form.lname.label}}
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m6">
            {{form.origin(size=30)}}
            {{form.origin.label}}
          </div>
          <div class="input-field col s12 m6">
            {{form.email}}
            {{form.email.label}}
          </div>
        </div>
        
        <div class="row">
          <div class="pre-label col s12 m6">
            No of trails completed:
            <div class="input-field inline">
              {{form.trails_completed}}
              {{form.trails_completed.label}}
              <span class="helper-text" data-error="invalid" data-success="valid">No. of trails completed in lifetime</span>
            </div>
          </div>
        
          <div class="pre-label col s12 m6">
            Upload profile image:
            <div class="file-field input-field">
              <div class="file-path-wrapper">
                <p class="file-path"></p>
              </div>
              <div class="btn cloudinary-button" id="upload_widget">
                <span>Upload File</span>
                {{form.profile_pic (id="uploaded_file_url") }}
              </div>
              <div class="col s3 m4">
              <br/>
                <img src="{{form.profile_pic.data}}" id="uploaded-image" class="responsive-img circle"/>
              </div>
            </div>
        </div>
        </div>

        <a class="waves-effect waves-light btn blue-grey lighten-1 cloudinary-fileupload" id="profile-submit" data-cloudinary-field="image_id">{{form.submit()}}</a>
      </form>
    </div>
 
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="deep-orange lighten-4">
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
</div>
{% endif %}
{% endwith %}

</div>

{% endblock %}

{% block js %}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script> 
<script>

var generateSignature = function(callback, params_to_sign){
    $.ajax({
     url     : "{{url_for('signUploadRequest')}}",
     type    : "GET",
     dataType: 'json',
     contentType:'application/json',
     data    : params_to_sign,
     complete: function() {console.log("complete")},
     success : function(signature, textStatus, xhr) { callback(signature); },
     error   : function(xhr, status, error) { console.log(xhr, status, error); }
    });
  }

  var myWidget = cloudinary.createUploadWidget({
    cloudName: '{{cloud_name}}', 
    uploadPreset: '{{upload_preset}}', 
    apiKey: '{{api_key}}',
    multiple: false, 
    maxFiles : 1, 
    cropping: true,
    folder: "project3",
    clientAllowedFormats: ["png", "gif", "jpg", "jpeg"],
    maxImageFileSize: 180000,
    maxImageWidth: 300,
    maxImageHeight: 300,
    showCompletedButton : true,
    singleUploadAutoClose: true,
    uploadSignature: generateSignature}, (error, result) => { 
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info); 
        //get the url of the uploaded profile picture
        let pictureURL = document.querySelector("#uploaded_file_url");
            pictureURL.value = result.info.url;
  
        //get the container for showing file name
        let picNameDisplay = document.querySelector(".file-path-wrapper");
        // show it
        picNameDisplay.style.display = "block-inline";
  
        // fill in the file name
        let picNameDisplayInput = document.querySelector(".file-path");
          picNameDisplayInput.innerText = result.info.original_filename + '.' + result.info.format;

        $('.btn.cloudinary-button').hide();
        var toastHTML = '<span>Picture Upload Successful!</span>';
        M.toast({html: toastHTML, classes: 'rounded'});
      }
    }
  )
  
  document.getElementById("upload_widget").addEventListener("click", function(){
      myWidget.open();
    }, false);

$('#profile-submit').on('click', function(event){
        let urlTag = $("#uploaded_file_url").val(); 
        let picNameDisplayInput = $(".file-path");
        picNameDisplayInput.html(urlTag);
        if(urlTag){
            $('.btn.cloudinary-button').hide();
        }
    });

$('form').on('submit', function(event) {
});
</script>

{% endblock %}