{% extends "base.template.html" %} 

{%block title%}Top Rated Trails{%endblock%} 

{%block content %}

<div class="container">
    
    <h3>Trails By Average Rating</h3>

        {% for group in rated %}        
            {%for trail in group.trails %}
            {% if loop.index0 ==0 %}
                {% if group._id==0 %}
                    <h6>Unrated</h6>
                {%else%}
                <h6>
                    {% for star in range(group._id|int) %}
                <span class="material-icons">star_rate</span>
                    {% endfor%}
                </h6>
                {% endif %}
            {% endif %}
                
                {% if loop.index0 % 3 == 0 %}
                    {%if loop.index0 != 0 %}
                    </div>  
                    {%endif%}
                <div class="row">
                {% endif %}

                <div class="col s12 m4">
                <div class="card">
                <div class="col s12 card-image">
                <img src="{{trail.image}}" alt="" class="" />
                <span class="card-title">{{trail.trail_name}}</span>
                </div>
                <div class="col s12">
                    <span class="stars">{{trail.rating_average}}</span>
                </div>
            <div class="card-content">
            <p>{{trail.location.province.town.town}},{{trail.location.province.state}},{{trail.location.country}}</p>
            <span>{{trail.difficulty}}</span>
            <p>Distance: {{trail.distance}}</p>
            <p class="top-rated-body">{{trail.description}} <br/></p>
            
            </div>
        </div>
        </div>
            {% endfor %}
            </div>
        {% endfor %}
      
</div>
{% endblock %}