{% extends "base.template.html" %}

{% block content %}
 <div class="container section">
      <div class="row">
         {% for trail in trails %}
        <h3 class="trail-title">{{trail.trail_name}}</h3>
        
          <div class="col s12 m7">
            <img class="materialboxed responsive-img" width="600" src="{{trail.image}}"/>
          </div>
          <div class="col s12 m5 box-map">
              {{trail.embed_route}}
          </div>
      </div>

      <div class="divider"></div>
      <div class="row trail-details-container">
        <div class="col s12 m6">
         <p> {{trail.description}}</p>
        </div>
        <div class="col s6 m2">
          <span class="details-title">Distance:</span>
         <p class="trail-details">{{trail.distance}} km</p>
         <span class="details-title">Route Type:</span>
         <p class="trail-details">{{trail.route_type}}</p>
        </div>
        <div class="col s6 m2">
          <span class="details-title">Elevation:</span>
          <p class="trail-details">{{trail.elevation}} m</p>
          <span class="details-title">Difficulty Level:</span>
          <p class="trail-details">{{trail.difficulty}}</p>
        </div>
      </div>
      
    </div>  

<div class="section">
    <div class="container">
    <a class="btn-floating btn-large waves-effect waves-light blue-grey tooltipped" data-position="bottom" data-tooltip="Add Comments" href = "{{url_for('add_comment', trail_id=trail._id)}}"><i class="material-icons">add</i></a>
        {% for com in trail.comments %}
      <div class="card-panel row">
      <div class="col s12 m8 card-content">
      <div class="col s4 m2">
      <img src="{{com.author.profile_pic}}" alt="" class="circle responsive-img">
      </div>

      <div class="card-title valign-wrapper">
      <div class="col s12 m4">
      <h6>{{com.author.fname}}&nbsp;&nbsp;{{com.author.lname}}</h6>
      </div>
      <div class="col s12 m4 com-date">{{com.date_comment.strftime('%d %b %Y')}}</div>
      <div class="col s12 m4 com-ratings">
      <span class="stars">{{com.ratings}}</span>
      </div>
      </div>

      <div class="row sightings">
          {% for keywords in com.sightings %}
          <div class="chip blue-grey darken-2 white-text">
            {{keywords}}
          </div>
          {% endfor %}
    </div>
        <div class="row">
          <p>{{com.body}}</p>
        </div>
        <hr/>
        <div class="card-action">
          <span>Hiked on: {{com.date_started}}</span>
          <span>Time taken: {{com.hours_taken}} hour(s),{{com.minutes_taken}} minute(s)</span>
        </div>
      </div>
      {% if auth_user._id == com.author._id %}
      <div class = "col m4">
      <div class="col s6">
          <a class="waves-effect waves-light blue darken-1 btn" href="{{ url_for('edit_comment', trail_id = trail._id, n=loop.index0) }}"><i class="material-icons left">content_cut</i><span class="hide-on-small-only">Edit</span></a>
        </div>
        <div class="col s6">
          <a class="waves-effect waves-light red darken-1 btn modal-trigger" href="#delete-comment-confirm-{{loop.index}}"><i class="material-icons left">delete_forever</i><span class="hide-on-small-only">Delete</span></a>
        </div>
        </div>
        {% endif %}

        <div id="delete-comment-confirm-{{loop.index}}" class="modal">
            <div class="modal-content">
                <h4>Do you want to delete this comment?</h4>
              <p>Deleting a comment will remove it permanently. This action cannot be undone.</p>
            </div>
            <form action ="{{url_for('delete_comment', trail_id=trail._id, n=loop.index0)}}" method="POST">
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-blue btn">Cancel</a>
              <input type="submit" class="waves-effect waves-yellow red darken-1 btn" value ="CONFIRM"/>
            </div>
          </form>
          </div>

        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}